node_modules
.env
.DS_Store
.vercel
.env*
*.patch
bookmig.mjs
fetch-tilda-menu.mjs
prepare-menu.mjs
*:Zone.Identifier
menu-raw.json
menu-prepared.json
menu-translations.json
sitemap-store.xml
tilda-reserve-scripts-v3.html
import-menu.mjs
